{%extends "layout.html" %}

<!--WTForms forces to use csrf token, the form cannot be used without it-->
{%block content%}
<form action="" method="post"><!--the action sends the form data to its param link-->
    {{form.hidden_tag()}}
    <div>
        {{form.sepal_length.label}}<!--the string name of the option-->
        {{form.sepal_length}}<!--the box of the option-->

        <!--Now if any error is present we need to display them to the user-->
        {%if form.sepal_length.errors%}
        {%for error in form.sepal_length.errors%}<!--iterate over the errors-->
            <div>{{error}}</div>
        {%endfor%}
        {%endif%}
    </div>
    <br>

    <div>
        {{form.sepal_width.label}}<!--the string name of the option-->
        {{form.sepal_width}}<!--the box of the option-->

        <!--Now if any error is present we need to display them to the user-->
        {%if form.sepal_width.errors%}
        {%for error in form.sepal_width.errors%}<!--iterate over the errors-->
            <div>{{error}}</div>
        {%endfor%}
        {%endif%}
    </div>
    <br>

    <div>
        {{form.petal_length.label}}<!--the string name of the option-->
        {{form.petal_length}}<!--the box of the option-->

        <!--Now if any error is present we need to display them to the user-->
        {%if form.petal_length.errors%}
        {%for error in form.petal_length.errors%}<!--iterate over the errors-->
            <div>{{error}}</div>
        {%endfor%}
        {%endif%}
    </div>
    <br>

    <div>
        {{form.petal_width.label}}<!--the string name of the option-->
        {{form.petal_width}}<!--the box of the option-->

        <!--Now if any error is present we need to display them to the user-->
        {%if form.petal_width.errors%}
        {%for error in form.petal_width.errors%}<!--iterate over the errors-->
            <div>{{error}}</div>
        {%endfor%}
        {%endif%}
    </div>
    <br>

    
    <div><!--always use the single quotes for jinja urls like this-->
        {{form.submit}}
    </div>
    <br>

    <div>
        <p>return to the homepage: <a href="{{url_for('home')}}">Homepage</a></p>
    </div>
</form>
{%endblock content%}